.mobile-hidden,
.desktop-visible {
  @include media-query(max md) {
    display: none;
  }
}

.mobile-visible,
.desktop-visible {
  @include media-query(md) {
    display: none;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-rich {
  ul {
    list-style: none;

    & > li {
      > *:first-child:not(ul, ol) {
        display: inline-block;
      }

      &::before {
        position: static;
        margin-right: 1.25em;
        color: currentColor;
        font-size: 0.5em;
        vertical-align: middle;
        content: '\25CF';
      }
    }
  }

  ul,
  ol {
    margin-top: var(--space-4);
    margin-bottom: var(--space-4);
    margin-left: 0;
    padding-left: var(--space-2);

    li {
      margin-bottom: var(--space-2);
    }

    ol {
      padding-left: var(--space-10);
    }

    ul {
      padding-left: var(--space-5);
    }
  }
}
