// Typography
// ==========
// Setup family fallback when primary is not available yet
$font-family-fallback: '-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif' !default;
$font-family-primary: "Open Sans", #{$font-family-fallback} !default;

// Main copy font-size - body tag and all inherited elements
$font-size-2xs: 0.75rem !default;
$font-size-xs: 0.875rem !default;
$font-size-sm: 1rem !default;
$font-size-md: 1.6rem !default;
$font-size-lg: 2rem !default;
$font-size-xl: 2.2rem !default;
$font-size-2xl: 2.4rem !default;
$font-size-3xl: 3.2rem !default;
$font-size-4xl: 4.2rem !default;
$font-size-5xl: 5rem !default;
$font-size-base: 1.6rem !default;

$line-height-2xs: 1.3 !default;
$line-height-xs: 1.3 !default;
$line-height-sm: 1.3 !default;
$line-height-md: 2.4rem !default;
$line-height-lg: 2.8rem !default;
$line-height-xl: 3.2rem !default;
$line-height-2xl: 3.2rem !default;
$line-height-3xl: 4rem !default;
$line-height-4xl: 4.8rem !default;
$line-height-5xl: 6.4rem !default;
$line-height-base: 2.4rem !default;

// Main headings
$font-size-h1: $font-size-5xl !default;
$font-size-h2: $font-size-4xl !default;
$font-size-h3: $font-size-3xl !default;
$font-size-h4: $font-size-2xl !default;
$font-size-h5: $font-size-xl !default;

// Fonts weights
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 600 !default;

// Colors
// ==========
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://chir.ag/projects/name-that-color/
// - https://github.com/mercs600/name-that-color-script
$palette-black: #000 !default;
$palette-white: #fff !default;
$palette-mine-shaft: #373737 !default;
$palette-thunder: #231f20 !default;
$palette-mine-shaft: #373737;
$palette-alabaster: #fafafa;
$palette-alt: #dcdcdc;
$palette-mercury: #e4e4e4;
$palette-cardinal: #cf202a;
$palette-goblin: #3c7646;

$color-primary: $palette-thunder !default;
$color-text-primary: $palette-thunder !default;
$color-primary-inverted: $palette-white !default;
$color-text-inverted: $palette-white !default;
$color-bg-secondary: $palette-mine-shaft !default;
$color-bg-primary-inverted: $palette-white !default;
$color-bg-primary: $palette-thunder !default;
$color-border: $palette-alt;
$color-link-normal: $palette-thunder !default;
$color-bg-body: $palette-alabaster !default;
$color-danger: $palette-cardinal !default;
$color-success: $palette-goblin !default;

// Spacing
// ==========
// Setup consitent spacing
$space-base: 0.4rem !default;
$space-2xs: $space-base !default;
$space-xs: $space-base*2 !default;
$space-sm: $space-base*4 !default;
$space-md: $space-base*6 !default;
$space-lg: $space-base*8 !default;
$space-xl: $space-base*10 !default;
$space-1: $space-base !default;
$space-2: $space-base*2 !default;
$space-3: $space-base*3 !default;
$space-4: $space-base*4 !default;
$space-5: $space-base*5 !default;
$space-6: $space-base*6 !default;
$space-8: $space-base*8 !default;
$space-10: $space-base*10 !default;
$space-12: $space-base*12 !default;
$space-16: $space-base*16 !default;
$space-24: $space-base*24 !default;
$space-32: $space-base*32 !default;
$space-48: $space-base*48 !default;
$space-64: $space-base*64 !default;

// Z-index
// ==========
// Keep z-index order
$z-index-base: 0 !default;
$z-index-over: 1 !default;
$z-index-under: -1 !default;
$z-index-overlay: 10 !default;

// Transitions
// ==========
// Keep transition consistent
$transition-duration: 300ms !default;
$transition-function: ease-in-out !default;

// Shadows
// ==========
$box-shadow-base: 0 4px 8px rgba(0, 0, 0, 0.08) !default;
$box-shadow-sm: 2px 4px 8px rgba(0, 0, 0, 0.2) !default;

// Radius
// ==========
$border-radius-base: 3px;

// Breakpoints
// ==========
// Keep single source of breakpoints
// - https://github.com/zellwk/mappy-breakpoints
// use:
// @include media-query(sm md) or media-range(desktop)
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1450px
) !default;

$container-default-width: 100%;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;

$grid-breakpoints: $breakpoints;
$grid-columns:                12 !default;
$grid-gutter-width: 3.2rem !default;
$grid-row-columns:            6 !default;

$breakpoints-queries: (
  mobile: xs lg,
  desktop: lg
) !default;
